# Backend
backend/build/
backend/.gradle/
backend/out/
*.class

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Credenciales locales
application-local.properties
backend/bin/
